<html>
<link rel="stylesheet" href="css/style.css">
<div>
<style>
body
{
    background-image: url("images/jobportal.jpg");
    background-repeat: no-repeat;
	opacity:0.9;
    background-size: 100%; 
    padding-bottom: 75px;;
}
.navbar-default
{
	background-color: black;
	color: white;
}
</style>
</head>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
 <h4>All Rights are Reserved by Sangeetha Karepa</h4>
  </div>
</nav>
</div>
</html>